$font-stack: 'Mada', sans-serif;
$main-color: #292929;
$secondary-color: #E0454A;

%section-header-title {
    color: black;
    font-weight: 200;
    font-size: 3em;
    padding: 0em 0em 0 1em;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Mada", sans-serif !important;
    font-weight: 200 !important;
    background-color: #292929 !important;
    
}

header {
    color: #E0454A !important;
    margin: 0;
    padding: 2em 0 0 0;
}

nav#mainNav {
    
    background-color: #292929 !important;
    color: #E0454A !important;

    #name-title {
        font-size: 2em;

    }

    a {
        text-decoration: none;
        color: #E0454A;
    }

    a:hover {
        text-decoration: none;
        color: rgb(255, 182, 185);
        transition-duration: 0.2s;
    }

    a:visited {
    color: #E0454A;
    text-decoration: none;
    }
}


// Classes
.menu-item {
    display: inline;
}


// IDs
#header-name {
    font-weight: 200;
    display: inline;
}

ul#nav-bar-menu {
    list-style-type: none;
    padding: 0.6em 0 0 0;
    display: inline;
    text-align: end;



    a {
        text-decoration: none;
        color: #E0454A;
    }
    a:visited {
    color: #E0454A;
    text-decoration: none;
    }
}


// ***********************************************************
// ******************GREETING SECTION STYLES******************
// ***********************************************************

#greeting {
    background-color: #292929 !important;
    color: #E0454A !important;
    height: 55em;
}

#greeting-text {    
    color: white;
    font-size: 4em;
    margin-top: -0.1em;
    padding: 4em 0 0 0em;
}


// ***********************************************************
// ******************ABOUT SECTION STYLES*********************
// ***********************************************************


#about {
    background-color: #E0454A;
    color: black;
    height: 38em;

    h2 {
        font-family: $font-stack;
        font-weight: 200;
        font-size: 3em;
        padding-top: 1em;
    }

    section {    
        width: 19em;
        padding: 2em 0 0 0;
        font-size: 1.6em;
        margin-bottom: -11em;
        margin-left: 2em;
    }

    img {
        padding-top: 11em;
        padding-left: 2em;
    }
}


// ***********************************************************
// ******************PROJECT SECTION STYLES*******************
// ***********************************************************

#projects {    
    background-color: white;
    height: 66em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // font-weight: 200;

    h2 {
        font-family: $font-stack;
        font-weight: 200;
        font-size: 3em;
        padding-left: 1em;
    }

    img {
        display: inherit;
    } 
}

.project-screenshot{
    width: 24em;
    margin: 0em -7em 0em -8em;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 80vh;
}

#project-sit, #project-unknown {
    
    display: flex;
    justify-content: space-evenly;
    font-weight: 200;

    section {
        color: black;
        align-self: center;
        width: 18em;

        h3 {
            font-size: 2.2em;
            font-weight: 200;
        }

        p {
            font-size: 1.5em;
        }
    }

    img {
        align-self: center;
        // box-shadow: -1px -1px 0px 0px #ccc;
    }
}

.sit-title {
    font-size: 4em;
}

#sit-case-study {
    background-color: #CEE8FB;

    h3 {
        font-weight: 200;
    }
}

#spin-screenshot {
    // width: 12.3em;

    width: 24em;
    margin: 0em -7em 0em -8em;
}

#spin-case-study{
    background-color: #2F3855;
    color: #02D4F5;
}

.learn-more-screenshots {
    margin-top: 1em;
}

// ***********************************************************
// ******************BLOG SECTION STYLES**********************
// ***********************************************************


#blog {

    background-color: #E0454A;
    color: black;
    height: 60em;


    p {

        font-size: 3em;
        text-align: center;
        padding-top: 9em;
        
    }
}

// ***********************************************************
// ******************CONTACT SECTION STYLES*******************
// ***********************************************************

#contact {
    height: 15.3em;
    color: white;
    font-size: 3em;
    font-weight: 200;
    text-align: center;

    
    ul {
        
        display: inline-flex;
        list-style-type: none;
        flex-wrap: wrap;
        
        li {
            padding: 1em;
        }
    }
    
    img {
        width: 2em;
    }
}

p#prompt {
    margin-top: 5em;
}





/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

//  header {
//     padding: 154px 0 100px;
//   }
  
//   @media (min-width: 992px) {
//     header {
//       padding: 156px 0 100px;
//     }
//   }
  


//  Breakpoints
  /* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
    // settings go here

    
} 


// @media only screen and (min-width: 425px) {
//     #about {
//         height: 53em;

//         img {
//             padding-top: 19em;
//             padding-left: 0em;
//         }
//     }
// }

/* Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px) {
    // settings go here
    
    #greeting {
        height: 29em;
    }

    #greeting-text {
        font-size: 2em !important;
        padding: 4em 0 0 0.5em !important;
        height: 37em;
        // border: solid black 2px;
    }

    #about {
        height: 50em;   

        h2 {
            padding-top: 1em;
        }

        section{
            font-size: 1.2em !important;
            // border: solid black 2px;
            padding: 0 0;
            margin: auto;
        }
        
        img{
            padding: 0em;
            margin-left: 1em;            
            margin-top: 4em;
        }


    }

    // #about section{
    //     font-size: 1.2em !important;
    //     // border: solid black 2px;
    //     padding: 0 0;
    //     margin: auto;
    // }

    // #about img{
    //     padding: 0em;
    //     margin-left: 25%;
    //     margin-top: 4em;
    // }


    #contact img {
        width: 1.5em;
    }

} 

@media only screen and (max-width: 600px) {
    // settings go here
    

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    // settings go here
} 

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    // settings go here
    #greeting-text {
        color: white;
        font-size: 4em;
        margin-top: -0.1em;
        padding: 4em 0 0 1em;
        width: 10em;
    }

} 
/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    // settings go here
    #greeting-text {
        color: white;
        font-size: 4em;
        margin-top: -0.1em;
        padding: 4em 0 0 1em;
        width: 10em;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    // settings go here
    header {
        padding: 156px 0 100px;
      }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    // settings go here
}
